body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 80%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.maincontainer {
  background-color: rgb(181, 177, 221);
  height: auto;
}
.main {
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  
}

.main1 {
  flex: 50%;
}
.leftside {
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("https://wallpaperaccess.com/full/822481.jpg");
  background-position: center;
  border-radius: 0rem 5rem 5rem 0rem;
  height: 95vh;
  padding-bottom: 2rem;
  width: 100%;
  margin: auto;
}
.firsthead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  line-height: 2.5rem;
  font-weight: 800;
  margin: 0;
  text-align: center;
  padding: 3rem;
  padding-top: 5rem;
}

.quotecard {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 15%;
  border-radius: 2rem;
  background-color: rgb(32, 62, 107);
  padding: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom:15% ;
}
.quote {
  font-family: cursive;
  font-size: 2.5rem;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
  padding: 1rem 0rem;
}
.main2 {
  flex: 50%;
}
.rightside{
flex-direction: column;
text-align: center;
max-width: 60%;
justify-content: flex-start;
padding: 3.8rem 2.8rem;
margin: 0 auto 2rem;
}
.todobox{
  background-color:rgb(32, 62, 107);
  border-radius: 2rem;
  text-align: center;
  justify-content: center;

  padding: 0.8rem;
  margin: 3rem  auto;
}
.name{
  border: #1cdbf5 2px solid;
  border-radius: 2rem;
  outline: none;
  width: 60%;
  float: left;
  
  font-size: 1rem;
  padding:  0.5rem 1rem;
  margin: 0.3rem 0.2rem 1rem 1rem;
  font-weight: bold;
}
.btn{
  outline: none;
  border: none;
  /* float: right; */
  font-size: 1rem;
  color:rgb(32, 62, 107);
  line-height: 0.2rem;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0rem  0rem 0rem  ;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 2rem;
  background-color:turquoise;
}
.notask{
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #1cdbf5;
}
.item{
  background-color: turquoise;
  border:none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  align-items: center;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: black;
  font-style: italic;
  text-transform: capitalize;
  color:rgb(32, 62, 107);
  
}
.trash{
  float: right;
  width: 2rem;
  height: 2rem;
  
}
.taskdone{
  text-decoration: line-through 0.2rem;
  color: rgb(32, 62, 107);
}

@media (max-width : 820px) {
    
  
      .firsthead{
        font-size: 2rem;
      }
      .quotecard{
        padding: 1rem 2rem;
        margin: 2rem;
        margin-top: 4rem;
      }
      .quote{
        font-size: 1rem ;
        
      }
      .name{
        margin-right: 0.2rem;
        margin-left: 0.5rem;
      }
     
}

@media (max-width:600px){
 .main{
   display: block;
 }
 .leftside{
   border-radius: 0rem;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   height: auto;
 }
 .firsthead{
   padding-bottom: 1rem;
 }
 .quotecard{
   margin-top: 2rem;
   padding: 0.5rem 1rem;
 }
 .quote{
   
   font-size: 1.5rem;
 }
 .rightside{
   padding-top: 2rem;
 }

 }

 @media (max-width:370px){
   .firsthead{
     padding: 1.8rem;
   }
   .quote{
     font-size: 1rem;
   }
   .rightside{
     max-width: 100%;
     padding: 1rem;
   }
   .name{
     width: 80%;
     margin-right:1rem ;
   }
 }